*{
    margin: 0;
    padding: 0;
    border: 0;
}

.body{
    background: blue;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color: blue;
}

.list{
    /*display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    background-color: pink;*/
    width: 15em;
    min-width: 12em;
    min-height: 50px;
    /*max-height: calc(100vh - 56px - 1.5em);*/
    overflow: auto;
    margin: 10px;
    background-color: white;
    border: blue 1px solid;
}

.list__header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30px;
    padding: 12px;
    border-bottom: blue 3px solid;
}

.list__title{
    margin: auto 0;
}

.list__content{
    display: flex;
    flex-direction: column;
    min-height: 50px;
}
.item{
    display: flex;
    flex-direction: row;
    border: black 1px solid;
    padding: 10px;
    justify-content: space-around;
}
.item__text{
    margin: auto 0;
}

.button-createList{
    all: unset;
}

.button-createList :hover{
    cursor: pointer;
}

.button_createItem{
    all: unset;
    background: url(../images/add-blue.svg) no-repeat top right;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 10px auto;
}

.button_createItem :hover{
    cursor: pointer;
}

/*.list__button__image{
    width: 30px;
    height: 30px;
}*/

.list__header__button__edit{
    all: unset;
    background: url(../images/edit.svg) no-repeat top right;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.list__header__button__delete{
    all: unset;
    background: url(../images/delete.svg) no-repeat top right;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.list__header__button__edit :hover{
    cursor: pointer;
}

.item__button__edit{
    all: unset;
    background: url(../images/edit.svg) no-repeat top right;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.item__button__delete{
    all: unset;
    background: url(../images/delete.svg) no-repeat top right;
    background-size: cover;
    width: 30px;
    height: 30px;
}