button,
input {
    outline: none;
    border: none;
}

.boards-menu_container.hidden {
    display: none;
}

.boards-menu_container.visible{
    display: flex;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7)
}

.boards-menu_content.visible {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 100%;
    background-color: blanchedalmond;
}

.boards-menu_content.hidden {
    display: none;
}

.add-board {
    background-color: inherit;
}

.add-board:hover {
    font-weight: bold;
}

.add-board:focus {
    outline: none;
}

.popup_content.hidden {
    display: none;
}

.popup_content.visibly {
    display: flex;
    justify-content: stretch;
    position: fixed;
    left: 15vw;
    top: 15vh;
    width: 70vw;
    height: 40vh;
    border: 1px solid white;
}

.exit_container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: calc(15vw - 30px);
    top: calc(15vh - 25px);
    border: 1px solid white;
    opacity: 0.7;
}

.exit_container:hover {
    opacity: 1;
}

.exit_button {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
}

.exit_button:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: white;
    transform: rotate(90deg);
}

.input_container,
.background-picture {
    background-size: cover;
}

.board-name_input,
.background-picture,
.create-board_button,
.popup_content,
.input_container {
    margin: 5px;
    border-radius: 5px;
}

.board-name_input:focus,
.background-picture:focus,
.create-board_button:focus {
    outline: none;
}

.board-name_input {
    width: 50vw;
}

.create-board_button {
    background-color: white;
    opacity: 0.5;
}

.backgrounds_container {
    flex-wrap: wrap;
}

.background-picture {
    width: 50px;
    height: 50px;
}