.boards-menu_container.hidden,
.boards-menu_content.hidden,
.popup_content.hidden {
    display: none;
}

.boards-menu_container.visible{
    position: fixed;
    display: flex;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.boards-menu_content.visible {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    background-color: white;
    overflow: auto;
}

.backgrounds_container::-webkit-scrollbar,
.boards-menu_content::-webkit-scrollbar {
    width: 10px;
}

.backgrounds_container::-webkit-scrollbar-thumb,
.boards-menu_content::-webkit-scrollbar-thumb {
    border-radius: var(--form-border-radius);
    background-color: gray;
}

.add-board_button,
.boards-menu_board-link,
.board-name_input,
.create-board_button,
.exit_container:hover {
    transition: var(--mid-tarnsition);
}

.add-board_button {
    background-color: inherit;
}

.add-board_button:hover,
.boards-menu_board-link span {
    font-weight: bold;
}

.boards-menu_board-link {
    display: flex;
    align-items: center;
    margin: 3px 10px;
    padding: 0;
}

.boards-menu_board-link span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 50px);
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7)
}

.popup_content.visibly,
.exit_container {
    border: var(--white-border);
}

.popup_content.visibly {
    position: fixed;
    display: flex;
    justify-content: stretch;
    left: 15vw;
    top: 15vh;
    width: 70vw;
    height: 40vh;
}

.exit_container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: calc(15vw - 30px);
    top: calc(15vh - 25px);
}

.exit_button {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
}

.exit_button:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: white;
    transform: rotate(90deg);
}

.input_container {
    transition: var(--mid-tarnsition);
}

.background-ico,
.input_container,
.background-picture {
    background-size: cover;
}

.board-name_input,
.backgrounds_container .background-ico,
.create-board_button,
.popup_content,
.input_container {
    margin: 5px;
    border-radius: var(--form-border-radius);
}

.boards-menu_board-link:focus,
.add-board_button:focus,
.board_button-name_input:focus,
.background-ico:focus,
.create-board_button:focus {
    outline: none;
}

.board-name_input,
.create-board_button {
    padding: 0 5px;
}

.board-name_input {
    width: 50vw;
}

.create-board_button {
    background-color: white;
}

.boards-menu_board-link,
.exit_container,
.board-name_input,
.create-board_button {
    opacity: var(--unhover-opasity);
}

.boards-menu_board-link:hover,
.exit_container:hover,
.board-name_input:hover,
.board-name_input:focus,
.background-ico:focus,
.create-board_button:hover {
    opacity: var(--hover-opasity);
}

.backgrounds_container {
    flex-wrap: wrap;
    overflow: auto;
}

.background-ico {
    width: 50px;
    height: 50px;
    background-color: inherit;
}

.backgrounds_container .background-ico:last-child {
    border: var(--black-border);
}