.custom-control .custom-switch {
    cursor: pointer;
}

[data-theme="dark"] {
    background-color: var(--secondary);
    color: whitesmoke;
    background-blend-mode: soft-light;
}

[data-theme="dark"] .boards-menu_content {
    background-color: grey;
}

[data-theme="dark"] .navbar-brand,
.custom-control-label,
.time-container {
    color: var(--gray-dark);
}

[data-theme="dark"] .list, .item {
    background-color: #acacac;
    border: var(--gray-dark);
}

[data-theme="dark"] .list__header {
    background-color: #acacac;
    border: var(--gray-dark);
    border-bottom: grey;
}

[data-theme="dark"] .item__button__delete, .modal_content {
    color: #212529;
}

[data-theme="dark"] .bg-light {
    background-color: #ccc !important;
}

[data-theme="dark"] .list-group-item {
    color: #212529;
    background-color: #ccc
}

[data-theme="dark"] .comment {
    color: var(--gray-dark);
}
