.header_content {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.members_container {
    display: flex;
    align-items: center;
}

.member_ico {
    margin: 0 10px;
}

.add-member_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border-radius: 50%;
    opacity: var(--unhover-opasity);
    transition: var(--mid-tarnsition);
    font-size: 40px;
    background-color: white;
}

.add-member_button:hover {
    opacity: var(--hover-opasity);
}

.add-member_button:focus {
    outline: none;
}
