@import './navbar.css';
@import './boardsMenu.css';
@import './desktop.css';
@import './timeContainer.css';
@import './modalWindow.css';
@import './varibles.css';
@import './dayNightMode.css';

button,
input {
    outline: none;
    border: none;
}

button:focus {
    outline: none;
}

.body {
    background-size: cover;
    background-repeat: no-repeat;
}
